/******************************** TELA ALUNO ********************************/

.main-aluno {

    width: 100vw;
    height: 63vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 7.34vw;
    margin-top: 8.66vh;
    margin-bottom: 5.2vh;

}


/******************************** PERFIL ALUNO ********************************/

.turma-esquerdo{

    width: 34.77vw;
    height: 55.59vh;

    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow: 0px 0px 20px rgba(51, 71, 176, 0.5);

}


/******************************** FOTO ********************************/

.foto {

    width: 23vw;
    height: 27vh;
    border-radius: 50%;

    border: 1px solid rgb(0, 0, 0);

}


/******************************** NOME ********************************/

.nome {

    margin-top: 3vh;

    max-width: 25vw;

    font-family: "Roboto", sans-serif;

    font-size: 2vw;

    color: rgb(0, 0, 0);

    font-weight: 200;

    text-align: center;

}