    /******************************** IMPORTS *****************************/
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

    /******************************** ESQUERDO *****************************/

    .main-home {

        margin-top: 10.4vh;
        margin-left: 6.67vw;
        margin-right: 6.67vw;

        height: 53.88vh;
        width: 86.7vw;

        display: flex;
        justify-content: space-between;
    }

    /******************************** ESQUERDO *****************************/
    .titulo {
        font-size: calc(2.5vw + 2.27vh);
        font-family: "Roboto", sans-serif;
        color: rgb(0, 0, 0);
        font-weight: lighter;
        width: 33.15vw;
    }

    .titulo span {
        color: #3347B0;
        font-weight: bold;
    }

    .computadores {
        margin-top: 4.66vh;
        height: 30.7vh;
        width: 30.3vw;
    }

    /******************************** MEIO *****************************/
    .estudante {
        width: 17.85vw;
        height: 49.674vh;
        margin-top: 1.34vh;

    }

    /******************************** DIREITO *****************************/

    .main-direito{
            display: flex;
            flex-direction: column;
            gap: 5.6vh;
    }

    .main-direito button {
        display: flex;
        width: 27.8vw;
        height: 23.4vh;

        background-color: #3347B0;
        justify-content: center;
        align-items: center;
        box-shadow: 12px 12px 4px 0 rgba(51, 71, 176, 0.5);
        border: 1px solid black;

        border: none;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .main-direito button:hover {
        transform: scale(1.05);
    }

    .main-direito button:active {
        transform: scale(0.95);
    }

    .main-direito button img {
        width: 6.66vw;
        height: 8.98vh;
        filter: invert(1);
    }

    .main-direito button p {
        font-size: 4.44vw;
        font-weight: 500;
        padding-left: 1.7vw;
        font-family: "Roboto", sans-serif;
        color: white;
    }

    @media (max-width: 431px) {

        .main-home {
            flex-direction: column;
            height: auto;
            align-items: center;
            justify-content: center;

        }

        /******************************** ESQUERDO *****************************/
        .titulo {
            font-size: 10vw;
            text-align: center;
            width: 100vw;
        }

        .computadores {
            display: none;
        }

        /******************************** MEIO *****************************/
        .estudante {
            width: 60.63vw;
            height: 43.5vh;
            margin-top: 6vh;

        }

        /******************************** DIREITO *****************************/


        .main-direito button {
            margin-top: 5.55vh;
            margin-bottom: 5.55vh;
            width: 55vw;
            height: 19.56vh;
        }

        .main-direito button img {
            display: none;
        }

        .main-direito button p {
            font-size: 15vw;
        }

    }